<a href="https://colab.research.google.com/github/Leeyounghun94/pythonStudy24/blob/master/BaseType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **파이썬 프로그래밍 기초, 자료형**


1. 숫자형
2. 문자형
3. 리스트
4. 튜플
5. 딕셔너리
6. 집합
7. 불

In [2]:
# 숫자형은 정수형, 실수형, 진수형이 있다.

# 정수형(integer) : 양의 정수와 음의 정수, 숫자 0을 변수에 대입

a = 123   # 양의 정수
b = -123  # 음의 정수
c = 0     # 숫자 0

# 실수형(floating-point) : 소수점이 포함된 숫자

d = 1.2
e = -3.45

# 지수 표현 방법 : 많은 수치를 짧게 표현

f = 4.24E10   # 4.24 * 10^10
g = 4.24e-10  # 4.24 * 10^-10

# 진수 표현 방법
# 8진수(옥타 : octal) -> 숫자0에 알파벳 o (대소문자 가능)

h = 0o177   # 177 8진수
print(h)    # 127 10진수

# 16진수(헥사 : haxadecimal) -> 숫자 0에 알파벳 x

i = 0x8ff   # 8ff 16진수
print(i)    # 2303 10진수

127
2303

# **숫자형을 활용하기 위한 연산자**

1. 사칙연산 : + - * /
2. 우선순위 : () 괄호 -> *, / -> 앞쪽  계산

In [3]:
a = 3
b = 4
a + b

7

In [4]:
a - b

-1

In [5]:
a * b

12

In [6]:
a / b

0.75

In [7]:
# 제곱 처리하는 방법
a ** b # 81 -> 3^4

81

In [8]:
# 나머지 처리하는 방법 (%)
7 % 3

1

In [10]:
# 나눗셈 후 몫을 리턴하는 방법 (//)
7 // 4

1

In [11]:
# 복합 연산자 +=, -=, *=, /=, //=, %=, **=

a = 1
a = a + 1
print(a)

a += 1    # a = a + 1
print(a)

2
3

In [12]:
# 문자열 자료형 (String) : 연속된 문자들을 나열한다. -> " "(큰따옴표)

# 큰따옴표
"Hello World"

# 작은따옴표
'Hello World'

# 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
"""Hello World"""

# 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기
'''Hello World'''

food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [14]:
# 만약에 문자열 출력에 큰따옴표를 보여주고 싶을 때
say = '"Pytho is very easy. " he says.'

say

'"Pytho is very easy. " he says.'

In [15]:
# 이스케이프 문자 활용하기 \n \t \r \\ 등 . . .( \ 역슬래쉬 활용)

food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

food
say

'"Python is very easy." he says.'

In [16]:
# 여러 줄로 출력하기 \n 엔터 효과
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [17]:
# 여러 줄로 출력이 가능한 """
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [18]:
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

# **이스케이프 코드 종류**




* \n : 문자 안에서 줄 바꿈
* \t : 탭 간격으로 점프
* \\ : \ 를 출력한다.
* \' : ' 를 출력한다.
* \" : " 를 출력한다.
* \r : 캐리지 리턴(과거의 타자기의 효과 : 커서를 현재 줄 맨 앞으로)
* \f : 폼피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
* \a : 벨소리(출력할 때 삑 소리가 나온다.)
* \b : 백 스페이수
* \000 : 널 문자

In [19]:
# 문자열 연산자 (문자열을 더하거나 곱할 수 있다.)
head = "Python"
tail = " is fun!!!"

head + tail

'Python is fun!!!'

In [21]:
body = "Python "
body * 7

'Python Python Python Python Python Python Python '

In [22]:
print("=" * 50)
print("Wecome to Python World")
print("=" * 50)

==================================================
Wecome to Python World
==================================================

In [23]:
# 문자열의 길이를 구함(이건 외우자!)
a = "Life is too short"
len(a)

17

In [24]:
# 문자열 인덱싱, 슬라이싱
# 문자열은 문자를 배열로 만들어 놔서(0번 인덱스 부터 적용 됨)

a = "Life is too short. You need Python"
#    0               16               33
#                              -8       -1

a[16]

't'

In [25]:
 a[-1] # 문자열을 뒤에서 부터 읽기 위해서 - 기호를 붙인다.

'n'

In [26]:
a[-8]

'd'

In [27]:
# 문자열 추출 하기
b = a[0]+a[1]+a[2]+a[3]

b

'Life'

In [28]:
# 슬라이싱 기법
a[0:4] # 0 <= a < 4

'Life'

In [29]:
a[12:20]

'short. Y'

In [30]:
a[19:] # 19인덱스 부터 끝까지

'You need Python'

In [31]:
a[:19] # 처음 ~ 19인덱스 까지

'Life is too short. '

In [32]:
a[:] # 처음 ~ 끝 까지

'Life is too short. You need Python'

In [33]:
# 슬라이싱 활용해보기
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
date

'20010331'

In [34]:
weather

'Rainy'

In [36]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year

type(year)

str

In [ ]:
# 위에서는 2001 값이 "" 에서 뽑아냈기 때문에 2001은 계산할수없는 문자 이다. 계산을 하려면 숫자로 변환 해줘야 한다.

In [37]:
# 만약에 pithon 이라는 문자열을 생성했는데 python으로 교체가 될까 ?
a = "pithon"
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [39]:
b = "Pithon"
c = a[:1] + 'y' + a[2:]
c
# 결론 : String 타입은 수정이 안된다. 그래서 Method를 활용하든지, 쪼개서 붙이던지 해야한다.

'python'

In [40]:
# 문자열 포맷팅 -> 자바에서 printf 와 같은 기능
# 포맷팅 : 동적 출력을 위한 기능으로 "" 안에 정수, 문자열 등 을 추가할 때 활용한다.
"I eat %d apples." % 3
# %d = 포맷팅 코드
# 마지막에 있는 %는 동적 값을 삽입 한다.

'I eat 3 apples.'

In [ ]:
"I eat %s apples." % "five"
# %s는 문자열이 동적으로 삽입 됨
# 마지막에 % 뒤에는 문자열을 넣어야 함으로 "", '' 처리를 해야 한다.

In [41]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [42]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

# 동적 매개 값을 2개 이상 넣고 싶으면 괄호안에 쉼표로 넣으면 되고, 순서와 타입은 맞춰야 한다.

'I ate 10 apples. so I was sick for three days.'


# **문자열 포맷 코드**

*   %s : 문자열(String)
*   %d : 정수(integer)
*   %c : 문자(character) -> 1개 문자
*   %f : 실수(부동소수점)
*   %o : 8진수
*   %x : 16진수

In [43]:
# 파이썬의 장점
"I have %s apples" % 3

# %s는 정수, 실수를 자동타입으로 문자열 변환한다.

'I have 3 apples'

In [45]:
"rate is %s" % 3.14

'rate is 3.14'

In [46]:
# 문자열 안에 %를 넣고 싶을 때는 : ex.Error is 98%.
"Error is %d%." % 98

ValueError: incomplete format

In [47]:
"Error is %d%%." % 98

# 확률을 출력할 때 %는 예약어 이므로 %% 이렇게 두번 써야 문자열 처리가 된다.
# 오류 많이 발생 시키는 부분이기 때문에 알아 둘 필요가 있다.

'Error is 98%.'

In [50]:
# 포맷팅 숫자 처리 (문자는 기본적으로 왼쪽 정렬, 숫자는 오른쪽 정렬)

"%-10s MBC ai" % "hi"    # -10 문자열 10칸을 여백으로 생성하고 그 안쪽에 문자를 왼쪽 정렬해서 넣는다.

'hi         MBC ai'

In [53]:
# 소수점 포멧팅
"%10.4f" % 333333333.1415937

# 0.4는 소수점 4자리 까지 출력(반올림)

# 정수 쪽 10은 기본 자리수가 10자리 이지만, 넘치면 알아서 늘려준다.

'333333333.1416'

In [54]:
# 포맷팅에 가독성을 높이고자 .format()메서드를 만들었다.(위에 %d, %s 옛날 방식, 요즘엔 메서드로 이용한 방식 쓴다.)

"I eat {0} apples".format(3)

'I eat 3 apples'

In [55]:
"I eat {0} apples".format("five")

'I eat five apples'

In [56]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [59]:
number = 10
day = "three"
"I ate {1} apples. so I was sick for {0} days.".format(number, day)

'I ate three apples. so I was sick for 10 days.'

In [60]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [61]:
"I eat {0} apples. so I was sick for {day} days.".format(10, day=3)

'I eat 10 apples. so I was sick for 3 days.'

In [64]:
"MBC AI {0:^10} PYTHON".format("hi")

# 12.18 AM

'MBC AI     hi     PYTHON'

In [67]:
"{0:=^10}".format("hi")
# 공백에다가 = 채워 넣는다.

'====hi===='

In [68]:
"{0:!<10}".format("hi")
# 공백에다가 !를 채워넣음

'hi!!!!!!!!'

In [70]:
# 소수점 표현하기
y = 3.987654321
"{0:10.4f}".format(y)

# 총 자릿수 10자리 중에서 소수점은 4자리 출력

'    3.9877'

In [72]:
# {문자} 출력하고 싶을 때
"{{ 문자 }}".format()

# 예약 기호를 두 번 연속 기입하면 문자형태로 출력이 가능하다.
#.format()은 파이썬3.5까지는 자주 쓰였다.

'{ 문자 }'

In [77]:
# 파이썬 3.6 이성 버전의 최신 포맷팅
# .format() 메서드를 사용하지 않는 기법 -> 접두사로 f를 기입한다.

name = "김기원"
age = 42
f"나의 이름은 {name}이고, 나이는 {age + 5}입니다."

'나의 이름은 김기원이고, 나이는 47입니다.'

In [80]:
# 딕션너리를 활용한 포멧팅( key:value )

d = { 'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [83]:
f'{"hi":<10}'

'hi        '

In [84]:
f'{"hi":=^10}'

'====hi===='

In [86]:
y = 3.42134246
f'{y:_>10.4f}'

'____3.4213'

In [89]:
# { 문자 } 로 출력하고 싶을 때
f'{{ 문자 }}'

# 점프 투 파이썬 02-2 문자열 자료형(문자열 관련 함수는 혼자 해볼것) 12.18 PM

'{ 문자 }'

🥀  실습

In [92]:
# 왼쪽 정렬
"{0:<10}".format("hi")

# 0 부터 10 자릿수에다가 :<10 표현식 사용하면 치환되는 문자열 왼쪽 정렬하고 나머지 자리는 공백(<화살표 방향이 왼쪽)

'hi        '

In [93]:
# 오른쪽 정렬
"{0:>10}".format("hi")

# 0부터 10까지 자릿수에다가 :>10 표현식으로 치환되어 문자열 오른쪽 정렬, 나머지 자리 공백(> 화살표 방향 오른쪽)

'        hi'

In [94]:
# 가운데 정렬
"{0:^10}".format("hi")

# 0부터 10까지의 자릿수, :^ 표현식으로 글자가 가운데 정렬이 됨.

'    hi    '

In [97]:
# 문자열 자료형은 자체적으로 함수를 가지고 있으며 문자열 내장 함수 라고 한다.
# 이 문자열 내장 함수를 사용하려면 변수 이름 뒤에 .을 붙인후 함수 이름을 써주면 된다.

# 문자 개수 세어보기
a= "aqwetyygfwerttyyty"
a.count('y')

# a.count라는 함수를 이용해서 해당 되는 글자가 몇개 있는지 알려주는 함수

5

In [100]:
# 위치 알려주기 1.Find

a = "Python is back"
a.find('a')

# a.find 함수를 이용하여 해당되는 글자가 몇번 째에 있는지 알려준다.(0부터 세기 때문에 a = 11)

11

In [104]:
# 위치 알려주기 2.index

a = "python is black"
a.index("i")
# index(i) 했더니 TypeError: must be str, not int 오류가 나왔는데 정수가 아닌 문자로 해야한다고 하며 따옴표를 빼먹어서 그렇다..

# a.index("i")를 이용하여 위치 알려주는 함수 인데 find와 같지만 다른 점은 문자열에 존재하지 않는 문자를 찾으면 오류를 발생시킴.

7

In [106]:
# 문자열 삽입하기

"?z".join('abcd')

# .join함수로 abcd라는 문자 사이에다가 ?z 를 삽입했다.
# 참고로 join 함수는 문자열뿐만아닌 리스트, 튜플에서도 입력으로 사용할 수 있기 때문에 지금은 눈으로만 핥아

'a?zb?zc?zd'

In [109]:
from os import WNOWAIT
# 대, 소문자 변환해보기
# 대문자 = upper / 소문자 = lower

a = "wow"
a.upper()

b = "GROEW"
b.lower()

'groew'

## *  착각하기 쉬운 문자열 함수

In [111]:
a = "yellow"
a.upper()

'YELLOW'

In [112]:
a

'yellow'

In [113]:
# yellow라는 글자를 .upper 라는 함수로 이용해서 대문자로 바꿨는데 그럼 원래의 값 yellow도 대문자로 변했을까?
# ㄴㄴ 그렇진 않다. 문자열은 자체의 값을 변경할 수가 없는 불변의 자료형이기 때문에 원래의 값 그대로 유지가 된다.

#만약 원래의 값을 대문자로 바꾸고 싶다면?

a = a.upper()
a

# upper 뿐만 아니라 lower, join, lstrip, rstrip, strip, replace, split 함수는 이와 같은 규칙이 있기 때문에
# 문자열 자체의 변경되는 것이 아닌 변경된 값으로만 행한다는 점을 주의 해야한다.

'YELLOW'