<a href="https://colab.research.google.com/github/Leeyounghun94/pythonStudy24/blob/master/dictionaryType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **딕셔너리 자료형**

-> 파이썬은 대응관계를 나타내는 자료형을 가지고 있는데 이를 딕셔너리라고 하며, "연관 배열", "해시" 라고도 한다.

말 그대로 사전이라는 뜻이며 딕셔너리는 key와 value를 한 쌍으로 가지고 있는 자료형이다.
사전에서 apple = 사과 라고 하듯이 apple = key, 사과 = value 가 된다.

또한, 리스트나 튜플 처럼 순차적으로 해당 요솟값을 구하지 않고 key를 통해서 value를 얻는다. 이것이 딕셔너리의 가장 큰 특징!
즉, apple이라는 단어의 뜻을 찾기 위해 순차적으로 검색하는것이 아닌 apple이 있는 단어있는 곳만 펼쳐 보는 것.

In [2]:
# 딕셔너리의 기본 모습

# {Key1: Value1, Key2:Value2, Key3:Value3 . . . .}

# key:value의 쌍 여러개가 {} 둘러 쌓여 있으며 구분은 쉼표로 구분한다.

In [3]:
dic = {'name':'pey', 'phone':'010-1234-4444', 'birth':'1010'}

  #key	value
# name	pey
# phone	010-9999-1234
# birth	1118

In [4]:
a = {1:"ji"}

a = {'b' : [1,2,3]}

In [5]:
# 딕셔너리 쌍 추가하기

a = {1: 'a'}
a[2] = 'b'
a

# a = {1: 'a'} 딕셔너리에다가 a[2] = 'b'를 추가하면 쌍이 추가 됨.

{1: 'a', 2: 'b'}

In [6]:
a['name'] = 'pey'
a

# 위에서 한 딕셔너리 a를 name:pey를 추가해서 쌍이 추가 됨.

{1: 'a', 2: 'b', 'name': 'pey'}

In [7]:
# 딕셔너리 요소 삭제하기

del a[1]
a

# del 함수로 a[key] 입력하면 key에 해당되는 key:value 쌍이 삭제 된다.

{2: 'b', 'name': 'pey'}

In [ ]:
# 딕셔너리의 개념은 알았는데 이걸 어떻게 사용해야 하나?

# 예를 들어 5명의 사람이 있는데 각자의 특기를 표현할 수 있는 방법은 뭐가 있을까 ?
# 이걸 리스트, 문자열로 표현하기는 매우 까다로울텐데 이것을 딕셔너리로 사용하면 표현하기가 쉬워진다.

{"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}

In [10]:
# 그럼 딕셔너리의 활용하기 위해서는?

# 딕셔너리에서 Key를 사용해서 Value 얻기

grade = {'pey':10, 'jupiter':11}
grade['jupiter']

# 요소값을 얻고자 할 때는 리스트나, 튜플, 문자열에서는 인덱싱, 슬라이싱 방법으로 사용했으나 딕셔너리에서는 다르다.
# 딕셔너리에서는 key를 사용해서 value 구하는 방법이다.

#pey라는 key의 value 얻기 위해서는 '딕셔너리_변수_이름[Key]'를 사용해야 한다.

11

In [12]:
a = {1:'a', 2:'b'}
a[2]

# a[1]은 a를 , a[2]는 b를 나타낸다. 여기서 주의할점이 a[1]이 의미하는 것은 리스트, 튜플과는 전혀 다르다.
# 딕셔너리의 []안의 숫자 1은 두번 째 요소를 나타내는 것이 아닌 key에 해당하는 1을 나타낸다.
# 즉, a[1]은 딕셔너리  {1: 'a', 2: 'b'}에서 Key가 1인 것의 Value인 'a'를 나타낸다.

'b'

In [14]:
a = {'a':1, 'b':2}
a['b']

# 위에서의 순서가 바뀌어도 key를 사용해서 value를 얻을 수 있다.  a는 a[Key]로 Key에 해당하는 Value를 얻는다.

2

In [15]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic['name']
'pey'
dic['phone']
'010-9999-1234'
dic['birth']
'1118'

# 순서가 뒤바뀌든 상관 없이 앞에 있는 KEY값이 무엇이든 해당 연결되는 Value가 나오는걸 확인할 수가 있다.

'1118'

In [16]:
# 딕셔너리 만들 때 주의 사항

# 딕셔너리에서는 key가 고유한 값이기 때문에 중복된 값을 설정해 놓으면 하나를 제외한 나머지가 모두 무시가 된다는 점을 유의하자.

a = {1:'a', 1:'c'}
a
# 이렇게 key가 중복일 때 1개를 제외한 나머지가 무시되는 이유는 key통해서 value를 얻는 딕셔너리의 특징 때문이다.

#즉, 딕셔너리에는 동일한 key가 중복으로 존재 할 수 없다.

{1: 'c'}

In [17]:
# 딕셔너리 만들 때 주의 사항 2

# key를 리스트에 쓸 수 없다는 점이다. 단, 튜플은 key를 리스트에 쓸 수 있다.

# 딕셔너리의 key로 쓸수있냐 없냐는 key가 변하는 값인지 변하지 않는 값인지에 달려 있다.
#즉, 변하는 값이면 key로 쓸 수 없다.

a = {[1,2] : 'zz'}

TypeError: unhashable type: 'list'

In [18]:
# Key를 리스트에다가 쓸 수 없지만 (변하는 값이기 때문에)
# Value에는 변하든 말든 아무 값이나 넣을 수 있다.



> 딕셔너리 관련 함수

*   keys
*   values
* items
* clear
* get
* in

In [19]:
# key 리스트 만들기 - keys

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

# 아 이거는 오로지 Key로만 모아서 배열로 만든거구나?

dict_keys(['name', 'phone', 'birth'])

In [20]:
for k in a.keys():
  print(k)

  # print(k) 입력할 때 들여쓰기 하지 않으면 오류가 발생하는데 직접 해보니까 : 입력하니까 빨간색이 띄어졌고
  # print 적어 주니 오류가 안났다.

name
phone
birth

In [23]:
list(a.keys())

['name', 'phone', 'birth']

In [24]:
# Value 리스트 만들기 - values

a.values()

# key 얻는 것과 마찬가지로 Value만 얻고 싶으면 values 함수를 사용하면 된다.

dict_values(['pey', '010-9999-1234', '1118'])

In [25]:
# Key, Value 쌍 얻기 - items

a.items()

# items 함수는 key와 value의 쌍을 튜플로 묶은 값을 보여준다.

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [26]:
# Key: Value 쌍 모두 지우기 - clear

a.clear()
a

# clear는 딕셔너리 안의 모든 요소를 삭제한다.

{}

In [28]:
# Key로 Value 얻기 - get

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('phone')

# 아 이거는 get함수에다가 key값을 집어 넣으면 value가 결과로 나오는구나.

# get(값) key에 대응 하는 value값이 나온다. 물론 순서 뒤 바뀌어도 나오는건 변함 없음.

'010-9999-1234'

In [33]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print(a.get('nokey'))


# 다만, 딕셔너리에 존재 하지 않는 키 값을 가져오라고 하면 "None"이라고 나오는데 이것은 거짓 이라는 뜻으로만 알자.

None

In [35]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 - in

a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
'email' in a

# in 이라는 걸 쓰면 해당 key, value에 있는 값들 중에 있는지 조사한다.
# 값이 있으면 true, 없으면 false 를 표출한다.

False