<a href="https://colab.research.google.com/github/Leeyounghun94/pythonStudy24/blob/master/listType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **테이블 자료 처리 : 각각의 객체를 모아서 처리하는 용도**

*   리스트 자료형
*   튜플 자료형
*   딕셔너리 자료형
*   집합 자료형

In [ ]:
# 리스트 자료형 : 대괄호를 이용하여 감싸고 쉼표로 요소를 구분한다.

odd = [1, 3, 5, 7, 9]   # 자바의 배열과 유사하나 배열은 초기 행렬 값을 갖는다. -> 단점이(배열의 크기 조절 불가) 있어서 arrayList 쓴다.(파이썬은 기본이 arrayList)

a = []  # 비어있는 리스트,  a = list() -> 이렇게도 생성 가능
b = [1, 2, 3]   # 정수형 리스트
c = ['Life ', 'is', 'too', 'short'] # 문자형 리스트
d = [1, 2, 'Life', 'is']    # 혼합형 리스트
e = [1, 2, ['Life', 'is']]    # 리스트의 리스트

In [3]:
# 리스트 인덱싱

a = [1, 2, 3]

print(a[0]) # a리스트의 0번 인덱스를 출력한다.

1

In [4]:
a[0] + a[2]

4

In [5]:
a[-1] # -1 이라고 하면 마지막 요소 값

3

In [9]:
a = [1, 2, 3, ["a", "b", "c"]]  # 리스트 안의 리스트(2차원 배열)
a[-1][0]                        # 2차원 배열을 출력하려면 [행][렬]

'a'

In [11]:
# 3차원 배열 -> 사진, 동영상 처리, 게임 (가로x세로 -> 픽셀, 깊이 -> RGB컬러)

MEMBER = [["김기원",["교사", 312]], ["김지선", ["학생", 312]], ["이영훈", ["학생2", 311]], ["윤인영", ["학생3", 313]]]

MEMBER[1][1][1]

# 인덱스는 0번 부터 시작하다는 점을 알아두자.

312

In [12]:
# 리스트 슬라이싱

a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [13]:
a[:2]   # 처음부터 2번 인덱스 전 까지

[1, 2]

In [14]:
a[2:]   # 2번부터 마지막 까지

[3, 4, 5]

In [15]:
a = [1, 2, 3, ["a", "b", "c"], 4, 5]
#    0  1  2        3          4  5
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [17]:
# 미션 b, c를 슬라이싱 해보자

a[3][1:]

['b', 'c']

In [18]:
# 리스트 연산 : + , *를 활용할 수 있다.

a = [1, 2, 3]
b = [4, 5, 6]

a + b

# 결과가 문자열의 + 계산과 유사하다.

[1, 2, 3, 4, 5, 6]

In [19]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
# 리스트의 길이 구하기

len(a)

3

In [21]:
# 리스트에 글자 추가하기

a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
str(a[2]) + "hi"

# str(정수) -> 정수가 문자열로 변환한다. = "3" + "hi"

'3hi'

In [25]:
# 리스트 값 수정하기

a= [1, 2, 3]
a[2] = 4

a

[1, 2, 4]

In [27]:
# 리스트 값 삭제하기

del a[2]
a

# del 명령어는 객체를 삭제하는 명령어

[1, 2]

In [29]:
a = [1, 2, 3, 4, 5]
del a[2:]   # remove, pop 함수도 제거용 함수
a

[1, 2]

In [30]:
# 리스트 관련 함수

# .append() -> 이미 만들어진 리스트에 객체를 추가할 때

a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [31]:
a.append([5, 6])
a

# 2차원 배열도 추가 가능하다.

[1, 2, 3, 4, [5, 6]]

In [32]:
# sort() -> 리스트 요소를 정렬해준다.

a = [1, 4, 3, 2]
a.sort()    # 오름차순 정렬
a

[1, 2, 3, 4]

In [33]:
a.reverse() # 내림차순 정렬
a

[4, 3, 2, 1]

In [34]:
a = [6, "김기원", "a", "@"]
a.sort
a

[6, '김기원', 'a', '@']

In [35]:
a.reverse
a

# 타입이 안맞는 경우에는 정렬이 안된다.(sort, reverse)

[6, '김기원', 'a', '@']

In [36]:
b = ["z","a", "d", "g", "k"]
b.sort()
b

['a', 'd', 'g', 'k', 'z']

In [39]:
c = ["김기원", "김지선", "윤인영", "육진"]
c.sort()
c

['김기원', '김지선', '육진', '윤인영']

In [40]:
# 인덱스 반환하기 ->  .index(값)

a = [1, 2, 3]
#    0  1  2 인덱스
a.index(3)

# 3값이 몇번째에 있냐?

2

In [41]:
a.index(1)

0

In [42]:
a.index(4)

ValueError: 4 is not in list

In [43]:
# 리스트에 요소 삽입하기 ->   .insert(인덱스, 값)

a = [1, 2, 3]
a.insert(0, 4)  # 0번 인덱스에 4를 추가하고 기존 인덱스가 밀린다.
a

[4, 1, 2, 3]

In [44]:
a.insert(3, 5) # 3번 인덱스에 5를 추가하고 기존 인덱스는 밀린다.
a

[4, 1, 2, 5, 3]

In [45]:
a.remove(3) # .remove(값)는 값이 제거 된다.
a

[4, 1, 2, 5]

In [46]:
b = [3,1,3,1,3,1,3,1]
b.remove(3)
b

# 중복된 값이 있을 경우 .remove() 할 경우 앞에 있는 요소만 제거된다.

[1, 3, 1, 3, 1, 3, 1]

In [47]:
b.remove(3)
b

[1, 1, 3, 1, 3, 1]

In [48]:
# 리스트 요소를 끄집어 내기 -> .pop(인덱스)

c = [1,2,3,4,5,6]
c.pop()

# .pop() -> 맨 끝을 알려준다

6

In [50]:
c

# 다시 c 를 불러오면 6이 끄집어내는 결과를 알 수 있다.

[1, 2, 3, 4, 5]

In [51]:
c.pop(3)

4

In [52]:
c

[1, 2, 3, 5]

In [55]:
d = [3,1,3,1,3,1,3,1,3,1]

d.count(3)

# .count() -> 값이 몇 개인지 알려준다.

5

In [56]:
len(d)

# len() -> 길이 알려준다.

10

In [58]:
# 리스트 확장 : extend(x) x는 리스트만 올 수 있으며 a[] + x[]

e = [1, 2, 3]
e.extend([4,5]) # 리스트 추가
e

[1, 2, 3, 4, 5]

In [59]:
f = [6, 7, 8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]

👒 복습

In [ ]:
# 리스트의 생김새

a = []
d = [1, 2, "sh", "tt"]
e = [1, 2, ["list", "is"]]

# a는 비어있는 리스트 이며 a = list() 이렇게도 생성이 가능
# 숫자와 문자열을 혼합하는 리스트도 가능하다.

In [61]:
# 리스트 인덱싱

a = [1, 2, 3]

a

# 리스트의 인덱싱은 0번부터 시작한다는 점 유의하자.

a[1] + a[2]
# 1번 인덱스 = 2 + 2번 인덱스 = 3  = 5가 나오는걸 알 수 있다.

5

In [62]:
a = [1, 3, 5, ["t", "r", "z"]]
#   0   1   2         3

#이런 인덱스로 이루어져 있는데 여기서 -1을 붙이면?
a[-1]

# 마지막 인덱스인 t, r, z (3)이 출력이 된다.

['t', 'r', 'z']

In [63]:
a = [1, 3, 5, ["t", "r", "z"]]

# 여기서에서 a[-1][2] 입력하면?

a[-1][2]

# -1은 끝 인덱스 지칭하고, 2는 끝 인덱스에서 2번 인덱스를 뜻한다. 그래서 z가 출력이 된다.

'z'

In [65]:
# 리스트 슬라이싱
# 리스트에서도 슬라이싱 기법(잘라내기) 적용 할 수 있다.

a = [5, 6, 7, 8]
a[0:2]

# 0:2 는 0부터 2번 인덱스까지 자른다는 건데 2번인덱스(나 빼고) 빼고 5, 6이 출력이 된다.

[5, 6]

In [69]:
# 중첩된 리스트에서 슬라이싱 하기

a = [1, 2, 4, 6, ["t", "v", "c","e"], 8, 0]
#   0   1  2  3       4               5   6
#                4(0    1     2   3)

a[2:5]

# 2번 인덱스에서 5번까지 슬라이싱 -> 2번 인덱스 4 부터 중첩리스트(4인덱스) 포함한 5번까지 값이 출력된다.

a[4:6]

# 4번 인덱스인 중첩 리스트 + 6번인덱스인데 나빼고 -> 8 이 출력이 된다.

[['t', 'v', 'c', 'e'], 8]

In [ ]:
# 리스트 더하기, 반복하기(*)
# 이 부분은 문자열과 같은 처리 이며 단순히 더하기면 뒤에 붙여주는 거고, 곱하기(*) 이면 지정한 수 반복으로 출력이 된다.

In [74]:
# 리스트 길이를 구할 때는 len() 함수를 사용한다.

a = [1,2,3,4,5,6,7,23,45,663,54445]

len(a)

11

In [75]:
# 리스트 연산 오류

a = [4, 5, 7]
a[1] + "zz"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
# 위의 오류에서 배열의 값(정수)와 문자열은 더할수가 없기 때문에 오류가 나온다.
# 더하려고 하면 숫자를 문자로 변환해야 한다.

str(a[2]) + "zz"

# a[2]인 숫자 값을 str() 함수로 이용하여 문자로 변환해주고, 문자인 zz를 합할 수 있기 때문에 7zz 이 나온다.
# str은 정수, 실수를 문자열로 바꿔주는 파이썬의 내장 함수

'7zz'

In [77]:
# 리스트의 수정과 삭제

b = [3, 5, 7, 4, 223, 444]
b[5] = 777
b

# 배열에 있는 인덱스의 값을 단순히 수정할 값을 지정하여 수정할 뿐이다.

[3, 5, 7, 4, 223, 777]

In [80]:
# 삭제를 할 때는 del 이라는 함수를 이용해서 리스트 요소를 삭제 할 수 가 있다.
b = [3, 5, 7, 4, 223, 444]

del b[5]
b

# del 함수로 이용해서 원래 있던 b배열의 444를 삭제할수가있다.
# 즉, del a[x]는 x번째 요솟값을 삭제한다.

[3, 5, 7, 4, 223]

In [81]:
# 슬라이싱 기법 사용해서 리스트 요소 여러 개 한꺼번에 삭제
b = [3, 5, 7, 4, 223, 444]

del b[4:]
b

# del b[4:] 이용하여 b 배열의 4번째 인덱스 부터인 값 요소를 한꺼번에 삭제할 수 있다.

[3, 5, 7, 4]




> 리스트 관련 함수

1.   append
2.   sort
3. reverse
4.index
5.insert
6.remove
7.pop
8.count
9.extend

In [82]:
# append -> 의미는 덧붙이다, 첨부하다 즉, 요소를 새로 추가한다.

a = [33, 55]
a.append(777)
a

# .append를 이용해서 777를 추가

[33, 55, 777]

In [ ]:
# sort -> 리스트의 요소를 순서대로 정렬해준다.
# 숫자, 문자를 순서대로 정렬해준다.

# reverse -> 리스트의 요소를 반대로 정렬해준다.

#단, 리스트의 요소들 중 타입이 안맞는 경우(숫자, 숫자, 문자) 가 있을 경우 정렬이 안된다는 점 유의하자.

In [91]:
# index(값) -> 리스트에 값이 있으면 값의 인덱스 값이 나온다.

a = [23, 34,35,323,3434,342342,3422]
a.index(342342)

# a배열에서 342342 값은 인덱스 몇번 값인지 나온다. 그래서 342342은 5번 인덱스에 있다고 결과를 내줌.

5

In [1]:
# insert(인덱스, 값) -> 리스트의 인덱스 위치에다가 값을 삽입하는 함수이며, 파이썬은 숫자를 0부터 세고 있다는걸 기억하자.
a = [1,4,6]
a.insert(1, 8)
a

# 1번 인덱스 자리에다가 8 값을 넣으라는 이야기가 되고 원래 있던 값은 뒤로 밀려난다.

[1, 8, 4, 6]

In [2]:
# remove(값) -> 리스트 요소를 삭제하는 함수.

a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

# 해당된 값이 사라지지만, 값이 중복이 될 경우 앞에 있는 값이 먼저 제거가 되는걸 알 수 있다.

[1, 2, 1, 2, 3]

In [4]:
# pop -> 리스트 요소 끄집어 내기
# pop() 은 리스트의 맨 마지막 요소를 끄집어 내며 삭제 한다.

a = [1, 2, 3]
a.pop()

3

In [7]:
# pop(값) -> 리스트의 인덱스 요소를 끄집어 내며 삭제

a = [1, 2, 3]
a.pop(1)

a

# 1번째의 인덱스(2)를 가져오고 삭제하며, 다시 실행해보면 2가 사라진 배열이 나온다.

[1, 3]

In [10]:
# count -> 리스트에 포함된 요소의 개수 세기

a = [1, 2, 3, 5]
a.count(3)

# 리스트 안에 값이 몇 개가 있는지 조사해서 개수를 알려주는 함수

1

In [12]:
# extend -> 원래의 a 리스트에 값을 더하게 된다.

a = [1, 2, 4]
a.extend([7,8])
a

[1,5,7,8,9]
b = [9, 7]
a.append(b)
a

[1, 2, 4, 7, 8, [9, 7]]