<a href="https://colab.research.google.com/github/Leeyounghun94/pythonStudy24/blob/master/listType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **테이블 자료 처리 : 각각의 객체를 모아서 처리하는 용도**

*   리스트 자료형
*   튜플 자료형
*   딕셔너리 자료형
*   집합 자료형

In [ ]:
# 리스트 자료형 : 대괄호를 이용하여 감싸고 쉼표로 요소를 구분한다.

odd = [1, 3, 5, 7, 9]   # 자바의 배열과 유사하나 배열은 초기 행렬 값을 갖는다. -> 단점이(배열의 크기 조절 불가) 있어서 arrayList 쓴다.(파이썬은 기본이 arrayList)

a = []  # 비어있는 리스트,  a = list() -> 이렇게도 생성 가능
b = [1, 2, 3]   # 정수형 리스트
c = ['Life ', 'is', 'too', 'short'] # 문자형 리스트
d = [1, 2, 'Life', 'is']    # 혼합형 리스트
e = [1, 2, ['Life', 'is']]    # 리스트의 리스트

In [3]:
# 리스트 인덱싱

a = [1, 2, 3]

print(a[0]) # a리스트의 0번 인덱스를 출력한다.

1

In [4]:
a[0] + a[2]

4

In [5]:
a[-1] # -1 이라고 하면 마지막 요소 값

3

In [9]:
a = [1, 2, 3, ["a", "b", "c"]]  # 리스트 안의 리스트(2차원 배열)
a[-1][0]                        # 2차원 배열을 출력하려면 [행][렬]

'a'

In [11]:
# 3차원 배열 -> 사진, 동영상 처리, 게임 (가로x세로 -> 픽셀, 깊이 -> RGB컬러)

MEMBER = [["김기원",["교사", 312]], ["김지선", ["학생", 312]], ["이영훈", ["학생2", 311]], ["윤인영", ["학생3", 313]]]

MEMBER[1][1][1]

# 인덱스는 0번 부터 시작하다는 점을 알아두자.

312

In [12]:
# 리스트 슬라이싱

a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [13]:
a[:2]   # 처음부터 2번 인덱스 전 까지

[1, 2]

In [14]:
a[2:]   # 2번부터 마지막 까지

[3, 4, 5]

In [15]:
a = [1, 2, 3, ["a", "b", "c"], 4, 5]
#    0  1  2        3          4  5
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [17]:
# 미션 b, c를 슬라이싱 해보자

a[3][1:]

['b', 'c']

In [18]:
# 리스트 연산 : + , *를 활용할 수 있다.

a = [1, 2, 3]
b = [4, 5, 6]

a + b

# 결과가 문자열의 + 계산과 유사하다.

[1, 2, 3, 4, 5, 6]

In [19]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
# 리스트의 길이 구하기

len(a)

3

In [21]:
# 리스트에 글자 추가하기

a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
str(a[2]) + "hi"

# str(정수) -> 정수가 문자열로 변환한다. = "3" + "hi"

'3hi'

In [25]:
# 리스트 값 수정하기

a= [1, 2, 3]
a[2] = 4

a

[1, 2, 4]

In [27]:
# 리스트 값 삭제하기

del a[2]
a

# del 명령어는 객체를 삭제하는 명령어

[1, 2]

In [29]:
a = [1, 2, 3, 4, 5]
del a[2:]   # remove, pop 함수도 제거용 함수
a

[1, 2]

In [30]:
# 리스트 관련 함수

# .append() -> 이미 만들어진 리스트에 객체를 추가할 때

a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [31]:
a.append([5, 6])
a

# 2차원 배열도 추가 가능하다.

[1, 2, 3, 4, [5, 6]]

In [32]:
# sort() -> 리스트 요소를 정렬해준다.

a = [1, 4, 3, 2]
a.sort()    # 오름차순 정렬
a

[1, 2, 3, 4]

In [33]:
a.reverse() # 내림차순 정렬
a

[4, 3, 2, 1]

In [34]:
a = [6, "김기원", "a", "@"]
a.sort
a

[6, '김기원', 'a', '@']

In [35]:
a.reverse
a

# 타입이 안맞는 경우에는 정렬이 안된다.(sort, reverse)

[6, '김기원', 'a', '@']

In [36]:
b = ["z","a", "d", "g", "k"]
b.sort()
b

['a', 'd', 'g', 'k', 'z']

In [39]:
c = ["김기원", "김지선", "윤인영", "육진"]
c.sort()
c

['김기원', '김지선', '육진', '윤인영']

In [40]:
# 인덱스 반환하기 ->  .index(값)

a = [1, 2, 3]
#    0  1  2 인덱스
a.index(3)

# 3값이 몇번째에 있냐?

2

In [41]:
a.index(1)

0

In [42]:
a.index(4)

ValueError: 4 is not in list

In [43]:
# 리스트에 요소 삽입하기 ->   .insert(인덱스, 값)

a = [1, 2, 3]
a.insert(0, 4)  # 0번 인덱스에 4를 추가하고 기존 인덱스가 밀린다.
a

[4, 1, 2, 3]

In [44]:
a.insert(3, 5) # 3번 인덱스에 5를 추가하고 기존 인덱스는 밀린다.
a

[4, 1, 2, 5, 3]

In [45]:
a.remove(3) # .remove(값)는 값이 제거 된다.
a

[4, 1, 2, 5]

In [46]:
b = [3,1,3,1,3,1,3,1]
b.remove(3)
b

# 중복된 값이 있을 경우 .remove() 할 경우 앞에 있는 요소만 제거된다.

[1, 3, 1, 3, 1, 3, 1]

In [47]:
b.remove(3)
b

[1, 1, 3, 1, 3, 1]

In [48]:
# 리스트 요소를 끄집어 내기 -> .pop(인덱스)

c = [1,2,3,4,5,6]
c.pop()

# .pop() -> 맨 끝을 알려준다

6

In [50]:
c

# 다시 c 를 불러오면 6이 끄집어내는 결과를 알 수 있다.

[1, 2, 3, 4, 5]

In [51]:
c.pop(3)

4

In [52]:
c

[1, 2, 3, 5]

In [55]:
d = [3,1,3,1,3,1,3,1,3,1]

d.count(3)

# .count() -> 값이 몇 개인지 알려준다.

5

In [56]:
len(d)

# len() -> 길이 알려준다.

10

In [58]:
# 리스트 확장 : extend(x) x는 리스트만 올 수 있으며 a[] + x[]

e = [1, 2, 3]
e.extend([4,5]) # 리스트 추가
e

[1, 2, 3, 4, 5]

In [59]:
f = [6, 7, 8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]