<a href="https://colab.research.google.com/github/Leeyounghun94/pythonStudy24/blob/master/setType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **집합 자료형에 대해서 알아보자!**

집합(set)은 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형

In [1]:
# 집합 자료형은 어떻게 만드나?

s1 = set([1, 2, 3])
s1

# 이렇게 set() 괄호 안에다가 리스트를 입력하거나 문자열을 입력해서 만들 수 있다.

{1, 2, 3}

In [2]:
s2 = set("Hello")
s2

# 이렇게 분할로도 표현 할 수가 있다.

{'H', 'e', 'l', 'o'}

In [3]:
# 근데 위에서 hello로 했는데 helo 으로 결과가 나왔는데 이상한데??

# 집합 자료형의 특징
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다.

# 리스트, 튜플은 순서가 있기 때문에 인덱싱 통해서 요솟값을 얻을 수 있지만 set 자료형은 순서가 없기 때문에 인덱싱 통해 요솟값을 얻을수 없다.
# 이는 딕셔너리도 마찬가지인데 딕셔너리도 마찬가지로 순서가 없으므로 인덱싱을 지원하지 않는다.

In [5]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1[0]

# 리스트 변환

1

In [7]:
t1 = tuple(s1)
t1

t1[0]

# 튜플 변환

# 만약, set자료형에 저장된 값을 인덱싱으로 접근하려면 이렇게 리스트, 튜플로 변환 후 해야 한다.

1

In [ ]:
# 교집합, 합집합, 차집합 구하기

# set자료형을 정말 유용하게 사용할 경우는 교,합,차집합 구할 때 이다.

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [9]:
# 교집합 구하기

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

s1 & s2

{4, 5, 6}

In [10]:
#  intersection 함수를 사용해서 교집합 구하기
s1.intersection(s2)

{4, 5, 6}

In [11]:
# 합집합 구하기

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
# union 함수를 사용해서 합집합 구하기
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# 차집합 구하기

s1 - s2

{1, 2, 3}

In [14]:
# difference 함수를 사용해서 차집합 구하기

s1.difference(s2)

{1, 2, 3}



> 집합(set) 자료형 관련 함수

* add
* update
* remove

In [15]:
# 값 추가하기 함수 - add

# 이미 만들어진 set 자료형에 값을 추가 할 수 있는데 1개의 값만 추가할때는 add를 사용한다.

s1 = set([1,2,3])
s1.add(5)
s1

{1, 2, 3, 5}

In [16]:
# 값 여러개 추가하기 함수 - update

# 여러 개의 값을 한꺼번에 추가하려면 update 함수를 사용하면 된다.

s1 = set([1, 2, 3])
s1.update([10, 15, 19])
s1

{1, 2, 3, 10, 15, 19}

In [17]:
# 특정한 값 제거하는 함수 - remove

# 특정 값 제거하고 싶을 때는 remove 함수를 사용하면 된다.

s1 = set([1, 2, 3])
s1.remove(3)
s1

{1, 2}